<html>


<style type="text/css">div.content
{
width:220px;
padding:10px;
border:5px solid gray;
margin:0px;
}</style>

<div align=center>

<p id="notice"><%= notice %></p>

<p>

  <tr>
    <td><b><p><%= @user.email %></b></td>




</p>




</div>
</html>