<style type = "text/css">
div.content
{
border-radius:15px;
width:500px;
padding:10px;

background-color:#bababa;
margin:0px;
}
div.subcontent
{
border-radius:15px;
width:300px;
padding:10px;

background-color:#959595;
margin:0px;
}
</style>
<div align=center>

</div>
<div align=center>



</div>

<% if current_user %>
  	<table>
  <tr>
    
    
  </tr>

<b><h1>Your Dashboard:</h1></b>

	<div class = "content">
	<h3> You're logged in as <%=current_user.email%> </h3>
	<%= image_tag current_user.gravatar_url %> 
	<div class = "subcontent">
	<%=simple_format(current_user.bio )%>
	<a href="/users/<%=current_user.id%>/edit">Edit Your Profile!</a>
	
	</div>
	
	</div>

	
  	<% else %>
   <img src = "/images/homepage.png">
  <% end %>

<div align=center>

</div>