<style type = "text/css">
div.content
{
width:500px;
padding:10px;
border:1px solid gray;
background-color:#bababa;
margin:0px;
}
</style>
<div align=center>

</div>
<div align=center>



</div>

<% if current_user %>
  	<table>
  <tr>
    
    
  </tr>

<b><h1>Your Dashboard:</h1></b>
	<div class = "content">
	<h7> Dashbaords are currently being worked on! :) </h7>
	</div>
	<h1><%= link_to "Current posts", posts_path %></h1>
  
  	<% else %>
   <img src = "/images/homepage.png">
  <% end %>

<div align=center>

</div>