<html>
<head>
<style type="text/css">
table, td, th
{
border:1px solid gray;
}
th
{
background-color:gray;
color:white;
}
</style>
</head>
</html>
<% if current_user %>
<div align=center>

<h1>All Codes</h1>

</div>
<div align=center>
<div align=center>

<table>
  <tr>
    
    
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td bgcolor=#959595><p><b><%= post.title %></b></p></td>
    <td bgcolor=#bababa><p><%= link_to 'Show Full', post %></p></td>
    
  </tr>
<% end %>
</table>
</div>
<br />
<% else %>
<h1>You must be logged in to access this page.</h1>
<%end%>
<div align=center>

</div>

<div align=center>

</div>