<html>
<head>
<style type="text/css">
div.post
{
border-radius: 15px;
width:500px;
padding:10px;

background-color:#bababa;
margin:0px;
}

div.postcontent
{
border-radius: 15px;
width:300px;
padding:10px;

background-color:#868686;
margin:0px;
}

table, td, th
{
border:1px solid gray;
}
th
{
background-color:gray;
color:white;
}
</style>
</head>
</html>
<% if current_user %>
<div align=center>

<h1>All Codes</h1>

</div>
<div align=center>
<div align=center>



<% @posts.each do |post| %>
<div align=center>
<div class = "post">
	
    <p><b><%= post.title %></b>, by <b><%=post.name%></b> </p> 
    <div class = "postcontent">
    <p><b><%= post.content %></b></p>
    </div>
    <br>
  	<%= link_to 'Show Full', post %>
    
    </post>
      
    </div>
<br>
<% end %>



</div>

<% else %>
<h1>You must be logged in to access this page.</h1>
<%end%>
<div align=center>

</div>

<div align=center>

</div>