<html>
<title>Community Blog</title>
<div align=center>
<% if current_user %>
<h1>New Code</h1>
</div>
</html>
<div align=center>
<%= render 'form' %>
</div>
<% else %>
<h1>Sorry, you must be logged in to create a new post!</h1> 
<%end%>
<div align=center>
<%= link_to 'Back', posts_path %>
</div>
<html>
<div align=center>

</div>
</html>