<html>
<title>Community Blog</title>
<div align=center>
<h1>New post</h1>
</div>
</html>
<div align=center>
<%= render 'form' %>
</div>
<div align=center>
<%= link_to 'Back', posts_path %>
</div>
<html>
<div align=center>

</div>
</html>