
body{
background-image:url(/textures/sitebg.png);
}

#top_bar {
position: fixed;
top: 0px;
left: 0px;
width: 100%;
height: 50px;
background: #ffffe1;

float: left;
z-index:2;
font-size: 12px;
font-weight: normal;
display: inline;
font-family: Arial, Verdana, sans-serif;
text-align: left;
background-image:url(textures/bg.png);
color: black;
-moz-box-shadow: 2px 2px 2px #515151;
-webkit-box-shadow: 2px 2px 2px #515151;
box-shadow: 2px 2px 2px #515151 ;
}

h1 {
font-family: Arial, Verdana, sans-serif;
}
p {
font-family: Arial, Verdana, sans-serif;
}

#top_bar p.infotext {
float: right;
padding-left: 20px;
padding-right: 20px;
margin-left: 15px;
margin-top: 7px;
}
#top_bar a.close {
font-size: 14px;
font-weight: bold;
text-align: right;
margin-top: 7px;
margin-right: 15px;
float: right;
color: silver;
text-decoration: none;
}
#top_bar a.close:hover {
margin-top: 8px;color: white;
}



top: -400 px;

}

</style>
<script type="text/javascript">
function placeIt() {
if (!document.all) {
document.getElementById("top_bar").style.top = window.pageYOffset +"px"; // For Mozilla etc.
} else {
document.getElementById("top_bar").style.top = document.documentElement.scrollTop +"px"; // For the IE...
}

}